{{> header}}

<form action="/login" method="post">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" placeholder="Your username">

    <label for="password">Password: </label>
    <input id="password" type="password" name="password" placeholder="Your password">

    <input type="submit" value="OK">
    <input type="reset">
</form>
